<div id="flyoutWrap">
	<!-- Flyout Filter -->
	 <div id="flyoutFilter" class="flyout target">
	    <div id="filterWrap" class="group">
	    	<!-- <button class="btn btn-default" id="clearFilter" type="button" data-toggle="tooltip" data-placement="bottom" title="Clear filters"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span><sub><small><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></small></sub></button> -->
	        <div id="filterDiv" class="row">
	        	<div id="filterHeader">
	        	 <button class="btn btn-default" id="clearFilter" type="button" data-toggle="tooltip" data-placement="right" title="Clear filters"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span><sub><small><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></small></sub></button>

	        	 <button type="button" class="close" data-toggle="tooltip" data-placement="left" title="Close filters" class="btn btn-default">  
					<span class="glyphicon glyphicon-remove" aria-hidden="true">  
					</span>  
				</button> 
	            
	        	</div> 
	        </div> 
	    </div>
	</div><!-- END Flyout Filter -->
</div>