<img class="logo-footer" src="images/dndLogo.svg">

<div id="buttonsWrap" class="group">
  <div class="centerDiv">

    <button type="button" data-toggle="tooltip" data-placement="top" title="View selected" id="viewSelected" class="btn btn-default"><span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
    <button type="button" data-toggle="tooltip" data-placement="top" title="Clear selected" id="clearSelected" class="btn btn-default"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>&nbsp;<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
    <p id="numberSelected"><span>0</span> Selected</p>
    <button type="button" data-toggle="tooltip" data-placement="top" title="To top" id="toTop" class="btn btn-default"><span class="glyphicon glyphicon-circle-arrow-up" aria-hidden="true"></span></button>
    <button type="button" data-toggle="tooltip" data-placement="top" title="Dice Roller" id="roller" class="btn btn-default"><img src="images/d20sm.svg"></button>
  </div> <!-- END centerDiv -->
</div> <!-- END buttonsWrap -->