<div id="viewCover" class="cover">
	<div class="modal container-fluid" id="displayModal">
		<div id="modalHeader" class="group">  
			<button type="button" class="modalClose close" data-dismiss="modal" aria-label="Close">  
				<span class="glyphicon glyphicon-remove" aria-hidden="true">  
				</span>  
			</button> 
			<div id="fontWrapModal" class="hidden-xs group"> 
				<span data-toggle="tooltip" data-placement="bottom" title="Decrease text size" class="glyphicon glyphicon-font smaller" aria-hidden="true"></span><span data-toggle="tooltip" data-placement="bottom" title="Reset text size" class="glyphicon glyphicon-font reset" aria-hidden="true"></span><span data-toggle="tooltip" data-placement="bottom" title="Increase text size" class="glyphicon glyphicon-font larger" aria-hidden="true"></span>  
			</div>  
		</div> 
		<div id="modalContent" class="row">  
		</div>  
	</div>  
</div>